/* Landing Page CSS - Minimal version */

:root {
    --auth-bg-color: #212121;
    --auth-text-color: #fff;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Background color for the left section */
.bg-dark {
    background-color: var(--auth-bg-color) !important;
}
